/* Universal Styles */
html {
  font-size: 16px;
}

.hidden {
  margin-top: 40px;
  opacity: 0;
}

.show {
  display: none;
}

.bounceUp {
  margin-top: 0;
  -webkit-transition: all 1.3s ease-in-out 0.2s;
  transition: all 1.3s ease-in-out 0.2s;
  opacity: 1;
}
/*/
////// content container ///////*/

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1400px;
  max-width: 100%;
  margin: 0 auto;
}

.grey {
  background-color: #edf8ff;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.75rem;
  font-weight: 700;
  color: #4a4a4a;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: #4a4a4a;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  color: #4a4a4a;
}

p {
  font-size: 1rem;
}
@media only screen and (max-width: 999px) {
  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.25rem;
  }

  h3 {
    font-size: 1rem;
  }

  p {
    font-size: 0.75rem;
    font-weight: 300;
  }
}
@media only screen and (max-width: 750px) {
  h1 {
    font-size: 1.75rem;
    font-weight: 700;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 700;
  }

  h3 {
    font-size: 1.25rem;
    font-weight: 700;
  }

  p {
    font-size: 1rem;
  }
}

.main-content {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.2;
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.image-container {
  overflow: hidden;
}

.image-container img {
  width: 100%;
}

.video-container {
  overflow: hidden;
}

.video-container video {
  width: 100%;
}
/*/
//////// Header Styles /////////*/

#top {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  height: 4.6rem;
  -webkit-transition: background-color 0.5s ease;
  -webkit-transition: all 0.3s ease-out;
  transition: background-color 0.5s ease;
  transition: all 0.3s ease-out;
  background-color: white;
}

#top.scroll {
  height: 4rem;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background-color: #0a507c;
}

#headContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 1400px;
  height: 4.6rem;
  margin: 0 auto;
  padding: 0 2rem;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

#headContent.scroll {
  max-width: 1600px;
  height: 4rem;
  padding: 0 1.5rem;
  color: #edf8ff;
}

header .content .logo-title {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
}
/*/
////// span in header title ///////*/

#headSpan {
  font-weight: 300;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav ul li {
  margin-left: 1rem;
}

.mobile {
  display: none;
}

.headA {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  text-decoration: none;
  color: #000;
}

.headA.scroll {
  color: #edf8ff;
}
@media only screen and (max-width: 999px) {
  header .content .logo-title p {
    font-size: 1rem;
    font-weight: 500;
  }

  header .content .logo-title span {
    font-weight: 300;
  }

  header .desktop ul li {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 750px) {
  header .content .logo-title {
    display: none;
  }

  header .desktop {
    display: none;
  }

  header .mobile {
    display: block;
    width: 100%;
  }

  header .mobile ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -ms-flex-align: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  header .mobile li {
    padding: 0;
  }
}
/*/
//////// Banner Styles /////////*/

#banner {
  margin-top: 4.6rem;
}

#banner .image-container {
  width: 60%;
  padding: 2rem 1.5rem;
}

#banner .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-right: 1.5rem;
}

#banner .content h1 {
  padding-bottom: 1.5rem;
}

#banner .content h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  padding-bottom: 1.5rem;
}

#banner .content button {
  font-size: 0.8rem;
  width: 12rem;
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #edf8ff;
  border-radius: 2rem;
  background-color: #1689b9;
}

#banner .content button:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  border-radius: 2rem;
  background-color: #0a507c;
}
@media only screen and (max-width: 750px) {
  #banner .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  #banner .image-container {
    width: 100%;
    max-height: 25rem;
    padding: 0;
  }

  #banner .content {
    padding: 2rem 0 2rem 1rem;
  }

  #banner .content h1 {
    padding-bottom: 2rem;
  }

  #banner .content button {
    margin: 0 auto;
  }
}
/*/
///////// Information Styles //////////*/

#information {
  width: 100%;
}

#information .left-column {
  width: 60%;
  padding: 2rem 1.5rem;
}

#information .image-container {
  width: 100%;
}

#information .left-column .content {
  padding-top: 2rem;
}

#information .left-column .content p {
  font-size: 0.9rem;
  padding: 1.5rem 0;
}

#information .left-column .content span {
  font-size: 0.75rem;
}

#information .right-column {
  width: 40%;
  padding: 2rem 0;
}

#information .right-column .right-column-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  margin: 0 auto 0.5rem;
}

#information .right-column .right-column-item .image-container {
  width: 35%;
  padding: 1rem;
}

#information .right-column .right-column-item .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 65%;
}

#information .right-column .right-column-item .content p {
  padding: 0.5rem 0;
}
@media only screen and (max-width: 750px) {
  #information .hide {
    display: none;
  }

  #information .right-column {
    width: 100%;
    padding: 1rem 1rem 2rem;
  }

  #information .right-column .right-column-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0 auto;
  }

  #information .show {
    display: block;
  }

  #information .right-column .right-column-item .image-container {
    width: 100%;
    margin-top: 4rem;
    padding: 0;
  }

  #information .right-column .right-column-item .content {
    width: 100%;
    margin-top: 4rem;
  }

  #information .grey {
    background-color: #c5ecf9;
  }
}
/*/
//////////// Learning Styles /////////////*/

#learning {
  width: 100%;
  background-color: #edf8ff;
}

#learning h1 {
  padding-top: 2rem;
  text-align: center;
  color: #4a4a4a;
}

#learning .course {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

#learning .course:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-box-shadow: 0 5px 10px 2px #888;
  box-shadow: 0 5px 10px 2px #888;
}

#learning .container .courses-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 2rem 4.5rem;
}

#learning .course-container-mobile {
  display: none;
}

#learning .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.middle-course {
  margin: 0 2rem;
}

#learning .course .content {
  padding: 1.5rem 1rem;
}

#learning .course h3 {
  font-size: 1.2rem;
}

#learning .course p {
  font-size: 0.75rem;
  font-weight: 100;
  padding: 0.5rem 0;
  color: #9b9b9b;
}

#row2 {
  padding-top: 2rem;
}
@media only screen and (max-width: 750px) {
  #learning {
    background-color: white;
  }

  #learning h1 {
    padding: 2rem 0 1.5rem;
    text-align: center;
  }

  #learning .container {
    display: block;
  }

  #learning .container .courses-container {
    display: none;
  }

  #learning .container .courses-container-mobile {
    display: block;
    padding: 1rem;
  }

  #learning .container .courses-container-mobile .course-mobile {
    margin-bottom: 0.5rem;
    padding: 1rem 1rem 1.5rem;
    background-color: #d8d8d8;
  }

  #learning h3 {
    font-weight: 300;
  }
}
/*/
//////////// Thesis Styles /////////////*/

#thesis {
  width: 100%;
}

#thesis h1 {
  padding-top: 2rem;
  text-align: center;
}

#thesis .left-column {
  width: 60%;
  padding: 2rem 1.5rem;
}

#thesis .video-container {
  width: 100%;
}

#thesis .left-column .content {
  padding-top: 2rem;
}

#thesis .left-column .content p {
  font-size: 0.9rem;
  padding: 1.5rem 0;
}

#thesis .right-column {
  width: 40%;
  padding: 2rem 0;
}

#thesis .right-column .right-column-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  margin: 0 auto 0.5rem;
}

#thesis .right-column .right-column-item .image-container {
  width: 35%;
  padding: 1rem;
}

#thesis .right-column .right-column-item .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 65%;
}

#thesis .right-column .right-column-item .content p {
  padding: 0.5rem 0;
}
@media only screen and (max-width: 750px) {
  #thesis .hide {
    display: none;
  }

  #thesis .left-column {
    width: 100%;
    padding: 1rem 0 2rem;
  }

  #thesis .grey {
    background-color: white;
  }
}
/*/
//////////// Footer Styles /////////////*/

footer {
  font-family: 'Open Sans', sans-serif;
  color: #fefefe;
  border-top: 1px solid #d8d8d8;
  background-color: #0a507c;
}

footer .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 1rem;
}

footer a {
  color: #fefefe;
}

footer p {
  font-size: 0.75rem;
  color: #edf8ff;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

footer ul li {
  padding: 2rem;
}
